h1{
    color: #fff;
}
.Main{
    margin-top: 35px;
    margin-left: 255px;
}
.Blocks{
    display: flex;
}
.project {
	cursor: pointer;
} 
.project__img {
    margin: 0 5px;
    width: 400px;
	border-radius: 3px;
}
.project__title{
    color: #fff;
}
.button_nav{
    background-color: #1e2022;
    border-radius: 30px;
    border: 1px solid  #1e2022;
    color: gray;
}