@import './../../variables';

.sidebar {
	> button {
		background-color: transparent;
		border: none;
		color: $gray;
		font-size: 30px;
	}

	ul {
		list-style-type: none;
		padding: 0;
		display: none;
		animation: opacity 0.4s;

		&.show {
			display: block;
		}

		li {
			margin-bottom: 0.5rem;
			a {
				padding: 0.5rem;
				display: block;
				color: $gray;
				text-decoration: none;
				border-left: 2px solid transparent;
				font-size: 20px;
				text-align: right;

				&:hover,
				&.active {
					border-color: $red;
					background-color: #2a2a2c;
				}
			}
		}
	}
}